@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 226 48% 7%;
  --foreground: 210 40% 98%;

  --muted: 220 24% 14%;
  --muted-foreground: 215 20.2% 65.1%;

  --popover: 226 48% 7%;
  --popover-foreground: 210 40% 98%;

  --card: 226 42% 9%;
  --card-foreground: 210 40% 98%;

  --border: 220 30% 18%;
  --input: 220 30% 18%;

  --primary: 221.2 83.2% 53.3%;
  --primary-foreground: 210 40% 98%;

  --secondary: 217.2 32.6% 17.5%;
  --secondary-foreground: 210 40% 98%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --ring: 212.7 26.8% 83.9%;

  --radius: 0.75rem;
}

body {
  @apply bg-background text-foreground antialiased;
}

* {
  @apply border-border;
}
